#about-section {
   background: rgb(32, 32, 58);
   padding: 100px 0px;
   color: white;
}

#about-line {
   /* color: #a86cc1; */
   color: #ffffff;
}

.hello-txt {
   color: #ffffff;
}

.tom-headshot {
   max-width: 223px;
   position: relative;
   top: 16px;

   @media (max-width: 767px) {
      text-align: center;
      top: 47px;
   }
  
   
}