body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  background-image: url("image/Fallon.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: rgb(66, 66, 66);
  background-color: rgb(32, 32, 58);
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 1.00em;
}

;
h1 {
  font-size: 1em;
}

.title-rows {
  margin-bottom: 50px;
}

.section-titles {
  font-size: 2.5em;
}

.title-pipes {
  font-size: 1.2em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: none;
  color: #63ff43;
}